@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gutter {
    scrollbar-gutter: stable;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
